<%= provide(:title, 'Sign up') %>

<% if signed_in? %>

<% flash[:error] = "You are already signed in!" %>

<% else %>

<div class = "center">
<h1>Sign Up</h1>
</div>

<div class="row">
   <div class="span6 offset3">
      <%= form_for(@user) do |f| %>

      <%= render 'fields', f: f %>

      <%= f.submit "Create my account!", class: "btn btn-large btn-primary" %>
      <% end %>
   </div>
</div>

<% end %>
