<h1>Pages#brogramming</h1>

<style>
#twitter{
  width:500px;
  height:400px;
  position:relative;
}

#main{
   width: 380px;
   height: 380px;
   background:#00aceb;
   opacity: 1;
   border-radius: 380px;
   position: absolute;
   top: -47px;
   left: 17px; 
   z-index:1;
}

#main_cut{
  width: 340px;
  height: 340px;
  background:white;
  opacity: 1;
  border-radius: 340px;
  position: absolute;
  top: 10px;
  left: -76px; 

}

#big_feather{
  width: 145px;
  height: 145px;
  background:#00aceb;
  opacity: 1;
  border-radius: 150px;
  position: absolute;
  top: 39px;
  left: 117px;
  z-index:4;
}
#big_feather_cut{
  width: 355px;
  height: 355px;
  background:white;
  opacity: 1;
  border-radius: 350px;
  position: absolute;
  top: -245px;
  left: -27px;
}

</style>

<p>Find me in app/views/pages/brogramming.html.erb</p>

