<h1>#FITNESS</h1>

<p><br></p>

<div align="center">
<script type="text/javascript"><!--

google_ad_client = "ca-pub-2518660584635301";

/* Family */

google_ad_slot = "1246342762";

google_ad_width = 728;

google_ad_height = 90;

//-->

</script>

<script type="text/javascript"

src="http://pagead2.googlesyndication.com/pagead/show_ads.js">

</script>
</div>

<p><br></p>

<div class="hero-unit">
<h1>This page contains awesome fitness tips for the average person</h1>
<p><br></p>
<h2>Find me in app/views/pages/fitness.html.erb</h2>
</div>
