<div class="center hero-unit">
   <h1>Welcome to my blog.</h1>

   <h2>It is about my adventures programming from scratch.</h2>
   <h2>Also about my awesome fitness tips.</h2>
   <h2>And how to be generally awesome.</h2>
   <h2>Always be awesome, it is the most important aspect of life.</h2>
   <p><p>
   <h3> Don't forget to click below and sign up for my awesome updatez</h3>
   <p>
   <h3><%= link_to "Sign up", signup_path , class: "btn btn-large btn-primary" %></h3>
</div>
